{% extends "base.html" %}
{% block title %}Login{% endblock %}

{% block content %}
<div class="page-container">

  <h1 class="page-title">Login</h1>
  <p class="page-subtitle">
    Please log in with your customer account.
  </p>

  <div class="divider"></div>

  {# Error message from backend validation #}
  {% if error %}
    <div class="login-error">
      {{ error }}
    </div>
  {% endif %}

  <form method="post" class="form-card">
    <p class="form-field">
      <label class="form-label">Email:</label>
      <input type="email"
             name="email"
             required
             autocomplete="off"
             class="input-text">
    </p>

    <p class="form-field">
      <label class="form-label">Password:</label>
      <div class="password-field">
        <input type="password"
               id="password"
               name="password"
               required
               class="input-text">

        <span id="togglePassword" class="password-eye">
          👁️
        </span>
      </div>
    </p>

    <p class="login-submit">
      <button type="submit" class="btn-primary">
        Login
      </button>
    </p>
  </form>


  <div class="login-register-hint">
    Don't have an account?
    <a href="{{ url_for('customers.register') }}" class="nav-link">Register here</a>.
  </div>

</div>
{% endblock %}

{% block scripts %}
  <script src="{{ url_for('static', filename='js/login.js') }}"></script>
{% endblock %}
